* {
    margin: 0;
    padding: 0;
    color: blue;
    background-color: black;
}
.container {
    border: solid 10px blue;
    width: auto;
}
.contact {
    display: none;
}
.email {
    display: none;
}
.social {
    display: none;
}

.backCard {
    display: none;
}

.flipCard {
    background-color: blue;
    color: white;
    padding: 15px 15px;
    border-radius: 20px;
    font-size: 1.5em;
}

/* put below in grid */
/* .skillSet */
/* .jobTitle */
/* .name */
/* .skillTitle */

/*


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bcard.css">
    </head>
    <body>
<div class="container">
    <h1 class="name">Thomas</h1>
    <img class="img" src="./Images/happy tomatoe.png" width="200px">
    <!-- everyOther Element Styles the back of the card -->
    <h1 class="contact">Contact Info:</h1>
    <p class="jobTitle">Web Developer</p>
       <!-- hidden -->
    <p class="email">Email: carterRelations@gmail.com</p>
    <p class="skillSet">
        <!-- hidden for flip -->
        <h1 class="social">Social Media Links</h1>
        <ol class="backList">
            <li>Github</li>
            <li>LinkedIn</li>
        </ol>
        <!-- end of flip -->
        <h1 class="skillTitle">Skills</h1>
        <ol>
            <li>JAVASCRIPT</li>
            <li>HTML</li>
            <li>REACT</li>
            <li>CSS</li>
            <li>LINUX</li>
        </ol>
    </p>

</div>

<button class="flipCard">FlipCard</button>


        <script src="bcard.js"></script>
    </body>
</html> */